<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SalesforceTestSuite" parallel="false">
    <parameter name="browser" value="chrome"/>
    
    <test name="LoginTests">
        <classes>
            <class name="com.salesforce.tests.LoginTest"/>
        </classes>
    </test>
</suite>
